/* General styles */
* {
  box-sizing: border-box;
}
html,
body,
#container {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #2d2d2d;
  color: #ccc;
  font: 14px 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  overflow: hidden;
}
select,
input,
button {
  border: none;
  outline: none;
  cursor: pointer;
}
button {
  color: #fbfbfb;
  font: 14px 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
a {
  color: #fbfbfb;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: #ebebeb;
}
a:active {
  color: #fbfbfb;
}
li {
  line-height: 1.3em;
}
button.color-orange,
.color-orange button {
  background-color: #f99157;
}
button.color-orange .fa-inverse,
.color-orange button .fa-inverse {
  color: #f99157;
}
button:hover:not(:active).color-orange,
.color-orange button:hover:not(:active) {
  background-color: #e98147;
}
button:hover:not(:active).color-orange .fa-inverse,
.color-orange button:hover:not(:active) .fa-inverse {
  color: #e98147;
}
button:active.color-orange,
.color-orange button:active {
  background-color: #ffb177;
}
button:active.color-orange .fa-inverse,
.color-orange button:active .fa-inverse {
  color: #ffb177;
}
.color-orange .panel,
.color-orange .panel-container.open > button,
.color-orange.panel-container.open > button {
  background-color: #e98147;
}
button.color-green,
.color-green button {
  background-color: #40e889;
}
button.color-green .fa-inverse,
.color-green button .fa-inverse {
  color: #40e889;
}
button:hover:not(:active).color-green,
.color-green button:hover:not(:active) {
  background-color: #30d879;
}
button:hover:not(:active).color-green .fa-inverse,
.color-green button:hover:not(:active) .fa-inverse {
  color: #30d879;
}
button:active.color-green,
.color-green button:active {
  background-color: #50f899;
}
button:active.color-green .fa-inverse,
.color-green button:active .fa-inverse {
  color: #50f899;
}
.color-green .panel,
.color-green .panel-container.open > button,
.color-green.panel-container.open > button {
  background-color: #30d879;
}
button.color-dark-green,
.color-dark-green button {
  background-color: #9c9;
}
button.color-dark-green .fa-inverse,
.color-dark-green button .fa-inverse {
  color: #9c9;
}
button:hover:not(:active).color-dark-green,
.color-dark-green button:hover:not(:active) {
  background-color: #89bc89;
}
button:hover:not(:active).color-dark-green .fa-inverse,
.color-dark-green button:hover:not(:active) .fa-inverse {
  color: #89bc89;
}
button:active.color-dark-green,
.color-dark-green button:active {
  background-color: #a9dca9;
}
button:active.color-dark-green .fa-inverse,
.color-dark-green button:active .fa-inverse {
  color: #a9dca9;
}
.color-dark-green .panel,
.color-dark-green .panel-container.open > button,
.color-dark-green.panel-container.open > button {
  background-color: #89bc89;
}
button.color-purple,
.color-purple button {
  background-color: #bc89bc;
}
button.color-purple .fa-inverse,
.color-purple button .fa-inverse {
  color: #bc89bc;
}
button:hover:not(:active).color-purple,
.color-purple button:hover:not(:active) {
  background-color: #ac79ac;
}
button:hover:not(:active).color-purple .fa-inverse,
.color-purple button:hover:not(:active) .fa-inverse {
  color: #ac79ac;
}
button:active.color-purple,
.color-purple button:active {
  background-color: #c9c;
}
button:active.color-purple .fa-inverse,
.color-purple button:active .fa-inverse {
  color: #c9c;
}
.color-purple .panel,
.color-purple .panel-container.open > button,
.color-purple.panel-container.open > button {
  background-color: #ac79ac;
}
button.color-red,
.color-red button {
  background-color: #f2777a;
}
button.color-red .fa-inverse,
.color-red button .fa-inverse {
  color: #f2777a;
}
button:hover:not(:active).color-red,
.color-red button:hover:not(:active) {
  background-color: #e2676a;
}
button:hover:not(:active).color-red .fa-inverse,
.color-red button:hover:not(:active) .fa-inverse {
  color: #e2676a;
}
button:active.color-red,
.color-red button:active {
  background-color: #ff878a;
}
button:active.color-red .fa-inverse,
.color-red button:active .fa-inverse {
  color: #ff878a;
}
.color-red .panel,
.color-red .panel-container.open > button,
.color-red.panel-container.open > button {
  background-color: #e2676a;
}
button.color-blue,
.color-blue button {
  background-color: #6cc;
}
button.color-blue .fa-inverse,
.color-blue button .fa-inverse {
  color: #6cc;
}
button:hover:not(:active).color-blue,
.color-blue button:hover:not(:active) {
  background-color: #56bcbc;
}
button:hover:not(:active).color-blue .fa-inverse,
.color-blue button:hover:not(:active) .fa-inverse {
  color: #56bcbc;
}
button:active.color-blue,
.color-blue button:active {
  background-color: #76dcdc;
}
button:active.color-blue .fa-inverse,
.color-blue button:active .fa-inverse {
  color: #76dcdc;
}
.color-blue .panel,
.color-blue .panel-container.open > button,
.color-blue.panel-container.open > button {
  background-color: #56bcbc;
}
button.color-dark-blue,
.color-dark-blue button {
  background-color: #69c;
}
button.color-dark-blue .fa-inverse,
.color-dark-blue button .fa-inverse {
  color: #69c;
}
button:hover:not(:active).color-dark-blue,
.color-dark-blue button:hover:not(:active) {
  background-color: #5689bc;
}
button:hover:not(:active).color-dark-blue .fa-inverse,
.color-dark-blue button:hover:not(:active) .fa-inverse {
  color: #5689bc;
}
button:active.color-dark-blue,
.color-dark-blue button:active {
  background-color: #76a9dc;
}
button:active.color-dark-blue .fa-inverse,
.color-dark-blue button:active .fa-inverse {
  color: #76a9dc;
}
.color-dark-blue .panel,
.color-dark-blue .panel-container.open > button,
.color-dark-blue.panel-container.open > button {
  background-color: #5689bc;
}
button.color-grey,
.color-grey button {
  background-color: #ccc;
}
button.color-grey .fa-inverse,
.color-grey button .fa-inverse {
  color: #ccc;
}
button:hover:not(:active).color-grey,
.color-grey button:hover:not(:active) {
  background-color: #ccc;
}
button:hover:not(:active).color-grey .fa-inverse,
.color-grey button:hover:not(:active) .fa-inverse {
  color: #ccc;
}
button:active.color-grey,
.color-grey button:active {
  background-color: #ccc;
}
button:active.color-grey .fa-inverse,
.color-grey button:active .fa-inverse {
  color: #ccc;
}
.color-grey .panel,
.color-grey .panel-container.open > button,
.color-grey.panel-container.open > button {
  background-color: #ccc;
}
.left {
  position: absolute;
  left: 0;
}
.right {
  position: absolute;
  right: 0;
}
.icon-stack {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
}
.icon-stack-icon {
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: inherit;
}
.sans-serif {
  font: 16px Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.monospace {
  font: 14px 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
/* Components */
.Musika-App {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Musika-Player {
  background-color: #000;
  user-select: none;
  height: 2em;
  flex-shrink: 0;
  cursor: default;
}
.Musika-Player > :not(:last-child) {
  margin-right: 0.21em;
}
.Musika-Player button {
  width: 2em;
  height: 2em;
}
.Musika-Player input[type=range] {
  height: 0.8em;
  margin: 0 0.5em;
  cursor: pointer;
}
.Musika-Player .Musika-TimeSlider {
  height: 100%;
  display: inline-block;
  margin-left: 0.3em;
}
.Musika-Player .Musika-TimeSeeker {
  height: 100%;
  display: inline-block;
}
.Musika-Player .Musika-TimeSeeker input[type=time] {
  height: 100%;
  border: none;
  outline: none;
  -moz-appearance: textfield;
  padding: 0 0 0 1em;
  margin: 0px;
  width: 5em;
  vertical-align: top;
}
.Musika-Player .Musika-TimeSeeker input[type=time]::-webkit-inner-spin-button,
.Musika-Player .Musika-TimeSeeker input[type=time]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.Musika-CPULoad {
  user-select: none;
  width: 100%;
  height: 0.73rem;
  background: linear-gradient(to right, #8df957 0%, #ff0 30%, #f99157 50%, #f2777a 100%);
  color: #fff;
  flex-shrink: 0;
  font-size: 8px;
  position: relative;
  cursor: default;
}
.Musika-CPULoad > .black {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: #181818;
}
.Musika-CPULoad > .left,
.Musika-CPULoad > .right {
  text-shadow: 0px 0px 4px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000;
  margin: 0 2px;
}
.ace_editor {
  width: 100%;
  height: 100%;
  z-index: 0;
}
.ace_scroller,
.ace_gutter {
  padding-top: 0.1em;
}
.ace_gutter-active-line {
  margin-top: 0.1em;
}
.ace_scroller::before,
.ace_gutter::before,
.ace_scroller::after,
.ace_gutter::after {
  position: absolute;
  width: 100%;
  height: 1.5em;
  content: ' ';
  z-index: 1;
  pointer-events: none;
}
.ace_scroller::before,
.ace_gutter::before {
  top: 0;
  background: linear-gradient(to bottom, #000 0%, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0.25) 30%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0) 100%);
}
.ace_scroller::after,
.ace_gutter::after {
  bottom: 0;
  background: linear-gradient(to top, #000 0%, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0.25) 30%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0) 100%);
}
.error_widget,
.ace_error {
  cursor: default;
  user-select: none;
}
.panel-wrapper {
  flex-shrink: 0;
  z-index: 0;
}
.panel-wrapper .Musika-BottomBar {
  height: 1.6em;
  user-select: none;
  background-color: #2d2d2d;
}
.panel-wrapper .Musika-BottomBar > :not(:last-child) {
  margin-right: 0.21em;
  display: inline-block;
  height: 100%;
}
.panel-wrapper .Musika-BottomBar button,
.panel-wrapper .Musika-BottomBar select {
  height: 100%;
}
.panel-wrapper .Musika-BottomBar button i.fa:only-child {
  width: 1em;
  vertical-align: middle;
}
.panel-wrapper .Musika-BottomBar .github {
  height: 100%;
  font-size: 1.6em;
  color: #ccc;
}
.panel-wrapper .Musika-BottomBar .github:hover:not(:active) {
  color: #fbfbfb;
}
.panel-wrapper .Musika-BottomBar .github i {
  vertical-align: top;
}
.panel-wrapper .Musika-BottomBar .panel-container {
  position: relative;
  display: inline-block;
  height: 100%;
}
.panel-wrapper .Musika-BottomBar .panel {
  display: block;
  position: absolute;
  left: 0;
  z-index: -1;
  width: 30em;
  height: auto;
  padding: 0 1em 2em 1em;
  color: #fbfbfb;
  font: 16px Arial, 'Helvetica Neue', Helvetica, sans-serif;
  box-shadow: 0 0 26px 10px #181818;
  animation: slidein 0.3s cubic-bezier(0.675, -0.01, 0.68, 1.21) forwards;
  cursor: default;
}
.panel-wrapper .Musika-BottomBar .panel button {
  padding: 0.4em 1em;
  border: 1px solid rgba(251,251,251,0.5);
  font: 16px Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}
@-moz-keyframes slidein {
  from {
    bottom: -10em;
  }
  to {
    bottom: 0.6em;
  }
}
@-webkit-keyframes slidein {
  from {
    bottom: -10em;
  }
  to {
    bottom: 0.6em;
  }
}
@-o-keyframes slidein {
  from {
    bottom: -10em;
  }
  to {
    bottom: 0.6em;
  }
}
@keyframes slidein {
  from {
    bottom: -10em;
  }
  to {
    bottom: 0.6em;
  }
}

/*# sourceMappingURL=lambda-musika.3d1d6420546f3f085396.css.map*/