$lightest: #fbfbfb;
$lighter: #ebebeb;
$light: #cccccc;
$dark: #2d2d2d;
$darker: #181818;
$darkest: #000000;

$colorsets: (
  orange: (
    #f99157,
    #e98147,
    #ffb177,
  ),
  green: (
    #40e889,
    #30d879,
    #50f899,
  ),
  dark-green: (
    #99cc99,
    #89bc89,
    #a9dca9,
  ),
  purple: (
    #bc89bc,
    #ac79ac,
    #cc99cc,
  ),
  red: (
    #f2777a,
    #e2676a,
    #ff878a,
  ),
  blue: (
    #66cccc,
    #56bcbc,
    #76dcdc,
  ),
  dark-blue: (
    #6699cc,
    #5689bc,
    #76a9dc,
  ),
  grey: (
    $light,
    $light,
    $light,
  ),
);
