/* General styles */

$monospace-font = 14px 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace
$sans-serif-font = 16px Arial, 'Helvetica Neue', Helvetica, sans-serif

$lightest = #fbfbfb
$lighter = #ebebeb
$light = #cccccc
$dark = #2d2d2d
$darker = #181818
$darkest = #000000

$player-button-size = 2em
$BottomBar-height = 1.6em
$panel-bounce-padding = 1em

$colors = {
  orange: #f99157 #e98147 #ffb177
  green: #40e889 #30d879 #50f899
  dark-green: #99cc99 #89bc89 #a9dca9
  purple: #bc89bc #ac79ac #cc99cc
  red: #f2777a #e2676a #ff878a
  blue: #66cccc #56bcbc #76dcdc
  dark-blue: #6699cc #5689bc #76a9dc
  grey: $light $light $light
}

$button-group-separation = 0.21em

*
  box-sizing border-box

html, body, #container
  height 100%
  margin 0
  padding 0
  background-color $dark
  color $light
  font $monospace-font
  overflow hidden

select, input, button
  border none
  outline none
  cursor pointer

button
  color $lightest
  font $monospace-font

a
  color $lightest

  &:link
    text-decoration none

  &:hover
    color $lighter

  &:active
    color $lightest

li
  line-height 1.3em

for name, colors in $colors
  normal = colors[0]
  hover = colors[1]
  active = colors[2]

  button.color-{name}, .color-{name} button
    background-color normal
    .fa-inverse
      color normal

  button:hover:not(:active).color-{name}, .color-{name} button:hover:not(:active)
    background-color hover
    .fa-inverse
      color hover

  button:active.color-{name},.color-{name} button:active
    background-color active
    .fa-inverse
        color active

  .color-{name} .panel,
  .color-{name} .panel-container.open > button,
  .color-{name}.panel-container.open > button
    background-color hover

.left
  position absolute
  left 0

.right
  position absolute
  right 0

.icon-stack
  position relative
  display inline-block
  width 1em
  height 1em
  line-height 1em
  vertical-align middle

.icon-stack-icon
  left 0
  position absolute
  width 100%
  text-align center
  line-height inherit

.sans-serif
  font $sans-serif-font

.monospace
  font $monospace-font

/* Components */

.Musika-App
  height 100%
  display flex
  flex-direction column

.Musika-Player
  background-color $darkest
  user-select none
  height $player-button-size
  flex-shrink 0
  cursor default

  & > :not(:last-child)
    margin-right $button-group-separation

  button
    width $player-button-size
    height $player-button-size

  input[type=range]
    height 0.8em
    margin 0 0.5em
    cursor pointer

  .Musika-TimeSlider
    height 100%
    display inline-block
    margin-left 0.3em

  .Musika-TimeSeeker
    height 100%
    display inline-block

    input[type=time]
      height 100%
      border none
      outline none
      -moz-appearance textfield
      padding 0 1em

      margin 0px
      vertical-align top

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button
        -webkit-appearance none
        margin 0

.Musika-CPULoad
  user-select none
  width 100%
  height 0.73rem
  background linear-gradient(
    to right,
    rgba(141,249,87,1) 0%,
    rgba(255,255,0,1) 30%,
    rgba(249,145,87,1) 50%,
    rgba(242,119,122,1) 100%
  )
  color white
  flex-shrink 0
  font-size 8px
  position relative
  cursor default

  & > .black
    position absolute
    right 0
    height 100%
    background-color $darker

  & > .left, & > .right
    text-shadow 0px 0px 4px rgba(0, 0, 0, 1),
      0px 0px 2px rgba(0, 0, 0, 1),
      0px 0px 2px rgba(0, 0, 0, 1),
      0px 0px 2px rgba(0, 0, 0, 1),
      0px 0px 2px rgba(0, 0, 0, 1)
    margin 0 2px

.ace_editor
  width 100%
  height 100%
  z-index 0

.ace_scroller, .ace_gutter
  padding-top 0.1em

.ace_gutter-active-line
  margin-top 0.1em

.ace_scroller::before, .ace_gutter::before,
.ace_scroller::after, .ace_gutter::after
  position absolute
  width 100%
  height 1.5em
  content ' '
  z-index 1
  pointer-events none

.ace_scroller::before, .ace_gutter::before
  top 0
  background linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,0.5) 1%,
    rgba(0,0,0,0.25) 30%,
    rgba(0,0,0,0.1) 60%,
    rgba(0,0,0,0) 100%
  )

.ace_scroller::after, .ace_gutter::after
  bottom 0
  background linear-gradient(
    to top,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,0.5) 1%,
    rgba(0,0,0,0.25) 30%,
    rgba(0,0,0,0.1) 60%,
    rgba(0,0,0,0) 100%
  )

.error_widget, .ace_error
  cursor default
  user-select none

.panel-wrapper
  flex-shrink 0
  z-index 0

  .Musika-BottomBar
    height $BottomBar-height
    user-select none
    background-color $dark

    & > :not(:last-child)
      margin-right $button-group-separation
      display inline-block
      height 100%

    button, select
      height 100%

    button i.fa:only-child
      width 1em
      vertical-align middle

    .github
      height 100%
      font-size $BottomBar-height
      color $light
      &:hover:not(:active)
        color $lightest
      i
        vertical-align top

    .panel-container
      position relative
      display inline-block
      height 100%

    .panel
      display block
      position absolute
      left 0
      z-index -1
      width 30em
      height auto
      padding 0 1em (1em + $panel-bounce-padding) 1em
      color $lightest
      font $sans-serif-font
      box-shadow 0 0 26px 10px $darker
      animation slidein 0.3s cubic-bezier(0.675, -0.010, 0.680, 1.210) forwards
      cursor default

      button
        padding 0.4em 1em
        border 1px solid alpha($lightest, 0.5)
        font $sans-serif-font
        font-size 14px

    @keyframes slidein
      from
        bottom -10em
      to
        bottom ($BottomBar-height - $panel-bounce-padding)
