@use '../styles/colors';
@use '../styles/variables';

$segment-padding: 0.75ch;

.container {
  display: inline-flex;
  align-items: center;
  background-color: white;
  cursor: pointer;

  &:focus-within {
    box-shadow: variables.$focus-box-shadow;
  }
}

.segment {
  font: variables.$monospace-font;
  background-color: transparent;

  width: calc(var(--width) * 1ch + 2 * $segment-padding);
  height: 100%;

  // Focus is handled at .container level
  &:focus-visible {
    box-shadow: none;
  }

  // Remove spinner buttons in number input
  // Firefox
  appearance: textfield;

  // Chrome
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.minutes {
  text-align: right;
  padding-left: $segment-padding;
}

.seconds {
  text-align: left;
  padding-right: $segment-padding;
}

.separator {
  color: black;
}

.containerTicking.containerEven .separator {
  opacity: 0.75;
}

.containerTicking.containerOdd .separator {
  opacity: 0.25;
}
