* {
  box-sizing: border-box;
}

html, body, #container {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #CCCCCC;
  font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.Musika-App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Musika-Player {
  height: 2em;
  flex-shrink: 0;
}

.Musika-Player button {
  width: 2em;
  height: 2em;
}

.Musika-TimeSlider {
  height: 2em;
  display: inline-block;
  margin-left: 0.5em;
}

.Musika-Player input {
  height: 0.8em;
  margin: 0 0.5em;
}

.Musika-CPULoad {
  width: 100%;
  height: 0.73rem;
  background: linear-gradient(to right, rgba(141,249,87,1) 0%, rgba(255,255,0,1) 30%, rgba(249,145,87,1) 50%, rgba(242,119,122,1) 100%);
  color: white;
  flex-shrink: 0;
  font-size: 8px;
  position: relative;
}

.Musika-CPULoad > .black {
  position: absolute;
  right: 0;
  height: 1rem;
  background-color: black;
}

.Musika-CPULoad > .left, .Musika-CPULoad > .right {
  margin: 0 2px;
}

.ace_editor {
  width: 100%;
  height: 100%;
}

.ace_scroller, .ace_gutter {
  padding-top: 0.1em;
}

.ace_gutter-active-line {
  margin-top: 0.1em;
}

.ace_scroller::before, .ace_gutter::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1.5em;
  content: '';
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0.25) 30%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0) 100%);
  z-index: 1000;
  pointer-events: none;
}

.ace_scroller::after, .ace_gutter::after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5em;
  content: '';
  background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0) 100%);
  z-index: 1000;
  pointer-events: none;
}

.Musika-bottomPanel {
  flex-shrink: 0;
  background-color: #2D2D2D;
  height: 1.6em;
}

.Musika-bottomPanel button {
  height: 100%;
}

.Musika-bottomPanel select {
  height: 100%;
}

.Musika-bottomPanel span button {
  background-color: #bc89bc;
}

.Musika-bottomPanel span button:hover {
  background-color: #ac79ac;
}

.Musika-bottomPanel span button:active {
  background-color: #CC99CC;
}

button {
  color: #fbfbfb;
  background-color: #F99157;
  font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  border: none;
  outline: none;
}

button:hover {
  background-color: #E98147;
}

button:active {
  background-color: #FFB177;
}

select {
  border: none;
}


.left {
  position: absolute;
  left: 0;
}

.right {
  position: absolute;
  right: 0;
}
