@use 'sass:list';
@use 'sass:map';

@use './styles/variables.scss' as variables;
@use './styles/colors.scss' as colors;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: colors.$dark;
  color: colors.$light;
  font: variables.$monospace-font;
  overflow: hidden;
}

select,
input,
button {
  border: none;
  outline: none;
  cursor: pointer;
}

button {
  color: colors.$lightest;
  font: variables.$monospace-font;
}

a {
  color: colors.$lightest;

  &:link {
    text-decoration: none;
  }

  &:hover {
    color: colors.$lighter;
  }

  &:active {
    color: colors.$lightest;
  }
}

li {
  line-height: 1.3em;
}

// Color button variants
@each $name, $colorset in colors.$colorsets {
  $normal: list.nth($colorset, 1);
  $hover: list.nth($colorset, 2);
  $active: list.nth($colorset, 3);

  button:not(:disabled) {
    & {
      &.color-#{'' + $name},
      .color-#{'' + $name} & {
        background-color: $normal;
        .fa-inverse {
          color: $normal;
        }
      }
    }

    &:hover:not(:active) {
      &.color-#{'' + $name},
      .color-#{'' + $name} & {
        background-color: $hover;
        .fa-inverse {
          color: $hover;
        }
      }
    }

    &:active {
      &.color-#{'' + $name},
      .color-#{'' + $name} & {
        background-color: $active;
        .fa-inverse {
          color: $active;
        }
      }
    }
  }
}

$disabled-normal: list.nth(map.get(colors.$colorsets, grey), 1);
$disabled-hover: list.nth(map.get(colors.$colorsets, grey), 2);
$disabled-active: list.nth(map.get(colors.$colorsets, grey), 3);

button:disabled {
  & {
    background-color: $disabled-normal;
    .fa-inverse {
      color: $disabled-normal;
    }
  }

  &:hover:not(:active) {
    background-color: $disabled-hover;
    .fa-inverse {
      color: $disabled-hover;
    }
  }

  &:active {
    background-color: $disabled-active;
    .fa-inverse {
      color: $disabled-active;
    }
  }
}
